bleach==3.2.1
boto3==1.16.37
botocore==1.19.37
cachetools==4.2.0
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
convertdate==2.3.0
cssselect==1.1.0
cssutils==1.0.2
DateTime==4.3
docutils==0.16
holidays==0.10.4
idna==2.10
jmespath==0.10.0
keyring==21.5.0
korean-lunar-calendar==0.2.1
lxml==4.6.2
numpy==1.19.4
packaging==20.8
pandas==1.1.5
pkginfo==1.6.1
premailer==3.7.0
Pygments==2.7.3
PyMeeus==0.3.7
pyotp==2.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
s3transfer==0.3.3
six==1.15.0
tqdm==4.54.1
twine==3.2.0
urllib3==1.26.2
webencodings==0.5.1
yagmail==0.14.245
zope.interface==5.2.0
