Cython~=3.0a6
DateTime~=4.3
Flask-Caching~=1.9.0
Flask~=1.1.2
Theano~=1.0.5
YahooFinanceSpider~=0.3
boto3~=1.16.33
holidays~=0.10.4
jsonpickle~=1.4.2
matplotlib~=3.3.3
nasdaq-stock~=0.0.3
numpy~=1.19.4
pandas_datareader~=0.9.0
pandas~=1.1.4
py-stocks~=1.6.5
pyotp~=2.4.1
python-dateutil~=2.8.1
pytz~=2020.4
requests~=2.25.0
robin_stocks~=1.5.2
setuptools~=51.0.0
tensorflow~=2.4.0rc4
yagmail~=0.14.245
